<html>
    <head>

    </head>
    <body>
        <h1>sign up page </h1>
        <form action="/users/create" method="post">
            <input type="text" name="name" placeholder="enter your name">
            <input type="email" name="email" placeholder="enter your email">
            <input type="password" name="password" placeholder="enter your password">
            <input type="password" name="cnfpassword" placeholder="enter your password again">
            <button type="submit">submit</button>
        </form>
    </body>
</html>