<html>
    <head></head>
    <body>
        <!-- <h1>hellcat</h1> -->
        <h1>sign in</h1>
        <form action="/users/createSession" method="post">
            <input type="email" name="email" placeholder="enter your email">
            <input type="password" name="password" placeholder="enter password">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>